.rodapePrincipal{
    background-color: transparent;
    margin-top: 5%;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.rodapePrincipal p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
}