@import url(/src/Styles/variaveis.css);

.nenhumaTarefa{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    gap: 1rem;
}

.nenhumaTarefa h3{
    margin-top: 9%;
    font-size: 24px;
    color: var(--quarta_cor);
}

/*Responsividade tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nenhumaTarefa{
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
}


/*Reponsividade mobile*/
@media only screen and (max-width: 767px) {
    .nenhumaTarefa{
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
}