.tarefas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5fffb;
    border-radius: 12px;
    height: 48px;
}

.tarefas .rodape{
    display: flex;
    justify-content: center;
    margin-left: 16px;
    gap: 8px;
}

.tarefas .rodape_concluido{
    display: flex;
    justify-content: center;
    margin-left: 16px;
    gap: 8px;
    text-decoration: line-through
}


.tarefas .rodape input{
    size: 21px;
    margin-top: 8px;
}

.tarefas div{
    display: flex;
    justify-content: space-between;
}

.tarefas h4{
    font-size: 21px;
}

.deletar{
    margin-top: 5.5%;
    margin-right: 20px;
}