.cabecalho{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: #411530;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    height: 3%;
}

.cabecalho h1{
    font-size: 32px;
    color: #f5fffb;
}

.cabecalho button{
    font-size: 24px;
    margin-top: 20px;
    height: 50%;
    padding: 8px;
    background-color: #f5fffb;
    color: #411530;
    border: none;
    border-radius: 32px;
    cursor: pointer;
}